<div class="topbar">
	<div class="fill">
		<div class="container">
			<a id="logo" href="#">Steem</a>
            <!-- <ul class="nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Clients</a></li>
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle">Settings</a> 
                    <ul class="dropdown-menu">
                        <li><a href="#">Product Settings</a></li>
                        <li><a href="#">Freight Tables</a></li>
                        <li><a href="#">Suppliers</a></li>
                    </ul> 
                </li>
            </ul> -->
            
            <span class="help-inline">
                We just made some design changes. <strong><a href="#">Let us know what you think!</a></strong>
            </span>
			
			<ul class="nav secondary-nav">
			    <li><a href="#">About</a></li>
			    <li class="divider"></li>
			    <li><a href="#">Blog</a></li>
			    <li class="divider"></li>
			    <li><a href="#">Help & Support</a></li>
			    <li class="divider"></li>
          		<li class="dropdown"> 
          			<a href="../../profile.html" class="dropdown-toggle">Hey, Daniel</a> 
        			<ul class="dropdown-menu">
        			    <li><a href="../../profile.html">Account</a></li>
                        <li><a href="#">Log out</a></li>
        			</ul> 
          		</li>
			</ul>
		</div>
	</div>
</div>