<div class="fill">
  <div class="inner"> 
    
  	<div id="logo"> 
  		<a href="../../index.html">Instinctly</a> 
  	</div> 

  	<ul class="nav"> 
  	    	  
  	  <li class="new-upload"><a href="#">Upload</a></li>
  	  <li class="new-moodboard"><a href="#">Create Moodboard</a></li>
  	  
  	  <li class="my-tags"><a href="#">Tags</a></li>
  	  
  	  <li class="my-collections dropdown"> 
  			<a href="">Browse</a> 
  				<ul>
  				  <li><a href="../../collections.html">People</a></li>
  				  <li><a href="../../collections.html">Collections</a></li>
  				  <li><a href="../../collections.html">Tags</a></li>
  				  <li><a href="../../collections.html">Moodboards</a></li>
  				</ul> 
  		</li>
  		
  		<li class="search">
  			<form>
    			<fieldset>
      			<div class="input">
      				<input type="text" value="Search" onclick="this.value=''" name="data[Image][text]" id="search-text"/> 
      				<input type="button" value="Find" id="search-btn"/> 
      			</div>
    			</fieldset>
  			</form>
  		</li>

  		<li class="profile dropdown"> 
  			<a href="#">You</a> 
			<ul>
			    <li><a data-keyboard="true" data-backdrop="true" data-controls-modal="settings">Your account</a></li>
			    <li><a href="../../collections.html">Your Collections <span>4</span></a></li>
			    <li><a data-keyboard="true" data-backdrop="true" data-controls-modal="invites">Your Invites <span>11</span></a></li>
			    <li class="separator"></li>
                <li><a href="#">Log out</a></li>
			</ul> 
  		</li>

  	</ul> 

  </div> 
</div>

<!-- Load modal windows -->

<div id="settings" class="modal hide">
  <span data-src="../elements/modals/settings.html"></span>
</div>

<div id="invites" class="modal hide">
  <span data-src="../elements/modals/invites.html"></span>
</div>

<div id="link" class="modal hide">
  <span data-src="../elements/modals/link.html"></span>
</div>

<!-- /Load modal windows -->