<div class="topbar">
	<div class="fill">
		<div class="container">
			<a id="logo" href="#">Steem</a>
			<ul class="nav">
          		<li><a href="#">Dashboard</a></li>
          		<li><a href="#">Orders</a></li>
          		<li><a href="#">Clients</a></li>
          		<li class="dropdown"> 
          			<a href="#" class="dropdown-toggle">Settings</a> 
        			<ul class="dropdown-menu">
        			    <li><a href="#">Product Settings</a></li>
                        <li><a href="#">Freight Tables</a></li>
                        <li><a href="#">Suppliers</a></li>
        			</ul> 
          		</li>
			</ul>
			
			<ul class="nav secondary-nav">
          		<li class="dropdown"> 
          			<a href="#" class="dropdown-toggle">daniel.lauding@navii.se</a> 
        			<ul class="dropdown-menu">
        			    <li><a href="#">Account</a></li>
                        <li><a href="#">Log out</a></li>
        			</ul> 
          		</li>
			</ul>
		</div>
	</div>
</div>