<form accept-charset="utf-8" action="/users/login" method="post">
    
	<h2>Lost your password?</h2>
	
	<fieldset>
	    
	    <div class="clearfix">
			<label for="forgot-username">E-mail</label>
			<input type="email" value="" id="forgot-username" placeholder="email@example.com"/>
        </div>
        
    </fieldset>
	
	<div class="actions">
	    <a href="#user/login" class="btn show-login">Login</a>
	    or
		<a href="#" class="btn primary action-forgot" data-event="forgot">Send a new password</a>		
    </div>
	
</form>