<ul class="breadcrumb">
    <li><a href="#">Companies</a></li>
    <li class="divider"></li>
    <li class="active dropdown">
        <a href="#" class="dropdown-toggle">Xtravaganza</a>
        <ul class="dropdown-menu">
            <li><a href="#">DLH Sverige AB</a></li>
            <li><a href="#">Navii</a></li>
            <li><a href="#">Bodycote</a></li>
            <li><a href="#">Resebyrån</a></li>
            <li><a href="#">Ralph Lauren</a></li>
        </ul>
    </li>
</ul>

<div class="content">    
	<span data-src="../../elements/superadmin/retailers/list.html"></span>
</div>