<ul class="tabs">
    <li class="dropdown active">
      <a class="dropdown-toggle" href="#">Product Settings</a>
      <ul class="dropdown-menu">
        <li><a href="#">Formats</a></li>
        <li><a href="#">Colors</a></li>
        <li><a href="#">Materials</a></li>
        <li><a href="#">Finishing</a></li>
      </ul>
    </li>
    <li><a href="#">Freight Tables</a></li>
    <li><a href="#">Suppliers</a></li>
</ul>

<div class="content">    
	<span data-src="../../elements/admin/settings/formats.html"></span>
</div>