
<div class="fill">
  <div class="inner"> 
    
  	<div id="logo"> 
  		<a href="../../index.html">Instinctly</a> 
  	</div> 

  	<ul class="nav"> 
  	    	  
  	  <li class="new-upload"><a href="#">Upload</a></li>
  	  <li class="new-moodboard"><a href="#">Create Moodboard</a></li>
  	  
  	  <li class="my-tags"><a href="#">Tags</a></li>
  	  
  	  <li class="my-collections dropdown"> 
  			<a href="../../collections.html">Collections</a> 
  				<ul>
  				  <li><a href="../../collections.html">Breadcrumbs</a></li>
  				  <li><a href="../../collections.html">Comments</a></li>
  				  <li><a href="../../collections.html">Navigations</a></li>
  				  <li><a href="../../collections.html">Footers</a></li>
  				</ul> 
  		</li>
  		
  		<li class="search">
  			<form>
    			<fieldset>
      			<div class="input">
      				<input type="text" value="Search" onclick="this.value=''" name="data[Image][text]" id="search-text"/> 
      				<input type="button" value="Find" id="search-btn"/> 
      			</div>
    			</fieldset>
  			</form>
  		</li>

  		<li class="profile dropdown"> 
  			<a href="#">You</a> 
  				<ul>
  					<li><a href="../../profile.html">Your account</a></li>
  					<li><a id="show_invite_overlay" href="#">Invites <span>12</span></a></li>
            <li><a href="#">Log out</a></li>
  				</ul> 
  		</li>

  	</ul> 

  </div> 
</div>