<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Invites</h3>
</div>

<div class="modal-body">
  <form>
    
    <fieldset>
      <div class="clearfix">
        <label for="">Email address</label>
        <div class="input">
          <input type="text" size="30" name="" id="" class="medium">
          <a href="#" class="btn small">Send invite</a>
          <span class="help-block">You have 7 invites left.</span>
        </div>
      </div>  
    </fieldset>

  </form>
  
  <table class="zebra-striped invite-list">
    <thead>
      <tr>
        <th class="email">Email</th>
        <th class="status">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          daniel.lauding@hyperisland.se
            <span class="help-block">ASDASDAD!13!"#!#"</span>
        </td>
        <td>
            invited 21 Jun, 2011
            <span class="help-block">joined 24 Jun, 2011</span>
        </td>
      </tr>
      <tr>
         <td>
           sixteng@kth.se
             <span class="help-block">ASDASDAD!13!"#!#"</span>
         </td>
         <td>
             invited 21 Jun, 2011
             <a class="remove">x</a>
         </td>
       </tr>
       <tr>
          <td>
            janne@lauding.se
              <span class="help-block">ASDASDAD!13!"#!#"</span>
          </td>
          <td>
              invited 21 Jun, 2011
              <span class="help-block">joined 24 Jun, 2011</span>
          </td>
        </tr>
    </tbody>
  </table>
  
</div>