<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>URL to the project</h3>
</div>

<div class="modal-body">
  <form>
    
    <div class="separator">

      <fieldset>  
        <div class="clearfix">
          <label for="">URL</label>
          <div class="input">
            <input type="text" size="30" name="" id="" class="large">
          </div>
        </div>
      </fieldset>
      
    </div>
    
  </form>
</div>

<div class="modal-footer">
  <a href="#" class="btn small">Save</a>
</div>