<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Preferences</h3>
</div>

<div class="modal-body">
  <form>
    
    <div class="separator">
      
      <fieldset>
        <div class="clearfix">
          <label for="">Name</label>
          <div class="input">
            <input type="text" size="30" name="" id="" class="large">
          </div>
        </div>  
      </fieldset>

      <fieldset>  
        <div class="clearfix">
          <label for="">Email</label>
          <div class="input">
            <input type="text" size="30" name="" id="" class="large">
          </div>
        </div>
      </fieldset>
      
    </div>

    <div class="separator">
      
      <fieldset>  
        <div class="clearfix">
          <label for="">Old Password</label>
          <div class="input">
            <input type="text" size="30" name="" id="" class="large">
          </div>
        </div>
      </fieldset>
    
      <fieldset>  
        <div class="clearfix">
          <label for="">New Password</label>
          <div class="input">
            <input type="text" size="30" name="" id="" class="large">
          </div>
        </div>
      </fieldset>
    
      <fieldset>  
        <div class="clearfix">
          <label for="">Confirm</label>
          <div class="input">
            <input type="text" size="30" name="" id="" class="large">
          </div>
        </div>
      </fieldset>

    </div>
    
  </form>
</div>

<div class="modal-footer">
  <a href="#" class="btn small">Save</a>
</div>